{% if content %}
   <div class="foursquare-container">
    {% if content.top_left %}
        <div class=""four-square-top-left>
            {{ content.top_left }}
        </div>
    {% endif %}
   </div>
    {% if content.top_right %}
        <div class=""four-square-top-right>
            {{ content.top_right }}
        </div>
    {% endif %}
    {% if content.bottom_left %}
        <div class=""four-square-bottom-left>
            {{ content.bottom_left }}
        </div>
    {% endif %}
    {% if content.bottom_right %}
        <div class=""four-square-bottom-right>
            {{ content.bottom_right }}
        </div>
    {% endif %}
{% endif %}

